@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.contenedor figure {
    position: relative;
    width: 200px;
    height: 291px;
    /* overflow: hidden; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, .50);
    cursor: pointer;
}

.contenedor figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}


.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

button {
    width: 50%;
    
}